{% load static %}

<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
	<title>Product</title>
</head>

<body>
	<header>
		{% include 'product/navbar.html' %}
	</header>
		
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>	
		{% endfor%}
	{% endif %}

	{% block home %}
	{% endblock %}

	{% block scan %}
	{% endblock %}

	{% block detail %}
	{% endblock %}


	{% block register %}
	{% endblock %}

	{% block add_product %}
	{% endblock %}

	{% block update_product %}
	{% endblock %}

	{% block history %}
	{% endblock %}
	
</body>
</html>