<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../static/CSS/style.css">
<!--
	<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css"/>
	<script defer src="https://pyscript.net/latest/pyscript.js"></script>
-->
	<title>Product</title>
</head>
<body>

	<header>
		{% include 'product/navbar.html' %}
	</header>
		
	{% if messages %}
		{% for message in messages %}
			{{ message }}
		{% endfor%}
	{% endif %}

	{% block home %}
	{% endblock %}

	{% block scan %}
	{% endblock %}

	{% block detail %}
	{% endblock %}
	
</body>
</html>