<nav>
	<div class="homepage">
		<a href="{% url 'home' %}" class="pagename">Product</a>
	</div>

	<div class="function">
		<ul class="navbar-list-item">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a href="{% url 'scan' %}" class="item">Quét mã</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'add' %}" class="item">Thêm mới</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'history' %}" class="item" >Lịch sử</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'logout' %}" class="item">Đăng xuất</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a href="{% url 'home' %}" class="item">Đăng nhập</a>
			</li>
			<li class="nav-item">
				<a href="{% url 'register' %}" class="item">Đăng ký</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>