{% extends 'product/base.html' %}

{% load static %}



{% block detail %}

<link rel="stylesheet" href="../static/CSS/disable.css">
<div class="col-md-6 offset-md-3">
	<h2>Thông tin sản phẩm</h2>
	<div class="card mb-3" style="max-width: 1440px;">
		<div class="row g-0">

			<div class="col-md-4">
			  	<img src="../{{product.img}}" class="img-fluid rounded-start" alt="Ảnh minh họa">
			</div>

			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title"><strong>Tên: </strong>{{product.title}}</h5>
					<p class="card-text"><strong>Số lượng: </strong>{{product.amount}}</p>
					<p class="card-text"><strong>Giá: </strong>{{product.price}}đ</p>
					<p class="card-text"><strong>Mô tả: </strong>{{product.description}}</p>
					<form method="POST" action="{% url 'port' product.id_product %}" class="scan-form" id="scanForm">

						<div class="mb-3">
							<input type="number" class="form-control" id="exampleInputID" name="amount" required placeholder="Số lượng" oninput="valid_input({{product.amount}}, event)">
						</div>
							<input type="submit" name="action" value="Import" class="btn btn-info disable" id="Import"/>
							<input type="submit" name="action" value="Export" class="btn btn-info disable" id="Export"/>
					</form>
					<p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
				</div>
			</div>

		</div>
	</div>
	<a class="btn btn-dark" href="{% url 'home' %}" role="button">Quay lại</a>
	<a class="btn btn-primary" href="{% url 'update' product.id_product %}" role="button">Cập nhật</a>
	<a class="btn btn-danger" href="{% url 'delete' product.id_product %}" role="button">Xóa</a>
</div>

<script src="../static/script/valid_input.js"></script>

{% endblock %}