{% extends 'product/base.html' %}

{% block scan %}
{% comment %}
{% if user.is_authenticated %}
	<h1>Quét mã</h1>
	<div class="container-scan">
		<form method="POST" action="{% url 'detail' %}" class="scan-form">
			{% csrf_token %}
			<div class="container-scan-item">
				<div class="container-scan-item-input">
					<input type="text" class="form-control" name="id_product" placeholder="ID product" required value={{ID_auto}}>
				</div>
				<div class="container-scan-item-button">
					<button type="submit" class="button-scan"><span class="button-scan-text">Quét</span></button>
				</div>
			</div>
		</form>
	</div>

{% else %}
	{% include 'product/login.html' %}
{% endif %}
{% endcomment %}
<h1>Quét mã</h1>
	<div class="container-scan">
		<form method="POST" action="{% url 'detail' %}" class="scan-form" id="myForm">
			{% csrf_token %}
			<div class="container-scan-item">
				<div class="container-scan-item-input">
					<input type="text" class="form-control" name="id_product" placeholder="ID product" required value={{ID_auto}}>
				</div>
				<div class="container-scan-item-button">
					<button type="submit" class="button-scan"><span class="button-scan-text">Quét</span></button>
				</div>
				<script>
					var auto_refresh = setInterval(function() { submitform(); }, 3000);

					function submitform()
					{
					  document.getElementById("myForm").submit();
					}
</script>
			</div>
		</form>
	</div>
{% endblock %}