{% extends 'product/base.html' %}

{% load static %}

{% block scan %}

<div class="col-md-6 offset-md-3">
	<form method="POST" action="{% url 'detail' %}" class="scan-form" id="scanForm">

		<div class="mb-3">
			<label for="exampleInputID" class="form-label">Quét mã sản phẩm</label>
			<input type="text" class="form-control" id="exampleInputID" name="id_product" value="{{ID_auto}}" required placeholder="ID product">
		</div>


	  <button type="submit" class="btn btn-primary">Quét</button>
	</form>
</div>

<script src="Product/static/script/websocket_scan.js"></script>

{% endblock %}